# ==========================================
# FASTAPI TEMPLATE CONFIGURATION
# ==========================================
PROJECT_NAME="FastAPI Modular Template"
DEBUG=true
API_V1_STR="/api/v1"

# --- DATABASE CONFIGURATIONS ---
DB_POSTGRES_1_URL="postgresql://user:password@localhost:5432/db_main"
DB_POSTGRES_2_URL="postgresql://user:password@localhost:5433/db_analytics"
DB_MYSQL_1_URL="mysql+pymysql://user:password@localhost:3306/db_shop"
DB_MONGO_1_URL="mongodb://localhost:27017/db_logs"